@import "./src/scss/variables";;
@import "./src/scss/mixins";
@import "./src/scss/colors";

.dashboard-notification-card-wrapper {
  .color-card {
    padding: 48px 32px;
    background-color: app-color('app-theme', 'primary');
    @include border-radius(12px);
    p {
      color: app-color('cool-gray', 100);
    }
    background:  app-color('app-theme', 'primary') url('#{$images}/dash-notify-cover.jpg') bottom right no-repeat;
    @include media-breakpoint('lt-lg') {
      background-image: none;
      padding: 48px 32px 0 32px;
    }
  }
}
