@import "~src/scss/variables";
@import "~src/scss/mixins";

.user-wrapper {
  margin: 0 0 0 24px;
  .profile {
    width: 30px;
    height: 30px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .mat-actions-menu {
    padding: 0;
    .mat-actions-menu  {
      padding: 0;
    }
    .user-info {
        display: flex;
        flex-direction: column;
        line-height: 1;
    }
  }
  .arrow-icon {
    color: white;
  }
}

.mat-menu-panel {
  margin: 4px 0 0 0;
}
