<div class="dashboard-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <dashboard-main-cards></dashboard-main-cards>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <dashboard-classes-analytics></dashboard-classes-analytics>
    </div>
    <div class="col-md-12 col-lg-6">
      <dashboard-notification-card></dashboard-notification-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <dashboard-marketing-analytics [data]="data"></dashboard-marketing-analytics>
    </div>
  </div>
</div>
