@import "~src/scss/variables";
@import "~src/scss/mixins";
@import "~src/scss/colors";


.wrapper {
  .color-bar {
    position: absolute;
    height: 240px;
    width: 100%;
    background-color: app-color('teal', 500);
    &.mini {
      height: 100px;
    }
    &.move {
      margin: -240px 0 0 0;
      max-height: 0;
      @include transition(margin .3s linear);
    }
    &.awake {
      position: fixed;
      z-index: 1000;
      height: 100px;
      max-height: 100px;
      margin: 0;
      @include transition(all .3s ease-out .15s);
    }
    @include media-breakpoint('lt-lg') {
      height: 100px;
      position: fixed;
      z-index: 1000;
    }
  }
  .content {
    position: relative;
    top: 180px;
    @include media-breakpoint('lt-lg') {
      padding: 0 10px;
      top: 130px;
    }
  }
}
