@import "~src/scss/variables";
@import "~src/scss/mixins";
@import "~src/scss/colors";

.notify-wrapper {
  position: relative;
  .active {
    position: absolute;
    right: 2px;
    top: 3px;
    @include circles(8px);
    background-color: app-color('red', 500);
  }
}

.notification-panel {
  min-width: 300px !important;
  max-width: 300px !important;
  border-radius: 4px;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 8px 0 0 0;
}
