@import "variables";
@import "mixins";

.mat-menu-panel {
	min-width: 144px !important;
	max-height: 300px;
	overflow: auto;


    .mat-menu-content {

        .mat-menu-item {
            display: flex;
            align-items: center;
            color: app-color('app-theme', 'default');
            height: 32px;

            &.mat-menu-item-submenu-trigger {
                padding-right: 40px;
            }

            .mat-icon {
                margin-right: 12px;
            }

            &:hover {
              background-color: lighten(app-color('app-theme', 'light'), 15%);
            }
        }

        // Divider within mat-menu
        mat-divider {
            margin: 8px 0;
        }

        .mat-divider {
            border-top-color: app-color('app-theme', 'divider')
        }

        .mat-divider-vertical {
            border-right-color: app-color('app-theme', 'divider')
        }
	}

}
