@import "./variables";
@import "./mixins";
@import "./colors";

html {
	font-size: $rem-base + px;
}

body {
    @include desp-regular;
    @include ft-calc($font-small);
    background-color: app-color('app-theme', 'light')
}


a {
  &.disabled, &:disabled {
    pointer-events: none;
  }
}
h1 { @include ft-calc($font-h1) }
h2 { @include ft-calc($font-h2) }
h3 { @include ft-calc($font-h3) }
h4 { @include ft-calc($font-h4) }
h5 { @include ft-calc($font-base) }
h6 { @include ft-calc($font-normal) }

ul, h1, h2, h3, h4, h5, h6, p {
    @include no-mp();
}

ul li {
list-style: none;
}

:focus {
    outline: none!important;
}

.cur-pointer {
  cursor: pointer;
}

.badge {
  padding: 4px 8px;
  color: white;
  @include ft-calc($font-tiny);
  @include circles(28px);
  @include border-radius(50%);
  display: inline-flex;
  margin: 0 0 0 3px;

  &.min {
    width: auto;
    padding: 6px 10px !important;
    height: auto;
    margin: 0;
  }
}

.sp-button {
  color: white;
  padding: 8px 18px;
  cursor: pointer;
  @include ft-calc($font-small);
  background-color: rgba(white, 0.2);
  @include border-radius(24px);
  min-width: 64px;
  display: inline-block;
  font-weight: 500;
  &:hover {
    background-color: rgba(white, 0.2);
    @include border-radius(24px);
  }
}

.-mt-6 {
  margin: -6px 0 0 0px;
}

.ov-hidden {
  overflow: hidden;
}

.h-0 {
  height: 0 !important;
}

.relative {
  position: relative;
}

@include media-breakpoint('xl') {
  .container{
    max-width: 1200px;
  }
}

