@import "variables";

@mixin border-radius ($radius) {
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
	border-radius: $radius !important;
}

@mixin box-shadow ($rules...) {
  box-shadow: $rules;
  -moz-box-shadow: $rules;
  -webkit-box-shadow: $rules;
}

@mixin no-mp () {
  margin: 0 !important;
  padding: 0 !important;
}

@mixin media-breakpoint($breakpoint) {

  $mediaQuery: map-get($media-breakpoints, $breakpoint);

  @if ($mediaQuery != null) {

      @media #{$mediaQuery} {
          @content
      }
  } @else {

      @media #{$breakpoint} {
          @content
      }
  }
}

@mixin circles($r, $bg:null, $tc:null) {
  width: $r;
  height: $r;
  display: inline-flex;
  justify-content:center;
  align-items:center;
  background-color: $bg;
  color: $tc;
  @include border-radius($r);
}

@mixin app-icon-size($size, $important: false) {
  width: #{($size) + 'px'} if($important, !important, null);
  height: #{($size) + 'px'} if($important, !important, null);
  min-width: #{($size) + 'px'} if($important, !important, null);
  min-height: #{($size) + 'px'} if($important, !important, null);
  font-size: #{($size) + 'px'} if($important, !important, null);
  line-height: #{($size) + 'px'} if($important, !important, null);

  svg {
      width: #{($size) + 'px'} if($important, !important, null);
      height: #{($size) + 'px'} if($important, !important, null);
  }
}

@mixin desp-regular {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.6px;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

@mixin transition ($rules...) {
	-webkit-transition: $rules;
	-moz-transition: $rules;
	transition: $rules;
}

@mixin ft-calc($pixels) {
  font-size: ( $pixels / $rem-base ) + rem;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


