
$media-breakpoints: (
  xs: '(min-width: 0) and (max-width: 575px)',
 sm: '(min-width: 576px) and (max-width: 767px)',
 md: '(min-width: 768px) and (max-width: 991px)',
 lg: '(min-width: 992px) and (max-width: 1199px)',
 xl: '(min-width: 1200px)',
 lt-md: '(max-width: 767px)',
 lt-lg: '(max-width: 991px)',
 lt-xl: '(max-width: 1199px)',
 gt-xs: '(min-width: 576px)',
 gt-sm: '(min-width: 768px)',
 gt-md: '(min-width: 992px)',
 ) !default;

 //colors
 $app-colors: (
  'red': (
    50 : #feefec,
    100 : #fdd6d0,
    200 : #fbbbb1,
    300 : #f9a092,
    400 : #f88b7a,
    500 : #f77763,
    600 : #f66f5b,
    700 : #f56451,
    800 : #f35a47,
    900 : #f14735,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd6d2,
    A700 : #ffbeb8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  ),
  'orange': (
    50 : #fff9ef,
    100 : #feefd7,
    200 : #fde5bd,
    300 : #fcdaa2,
    400 : #fcd28e,
    500 : #fbca7a,
    600 : #fac572,
    700 : #fabd67,
    800 : #f9b75d,
    900 : #f8ab4a,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff5ea,
    A700 : #ffe9d0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  ),
  'green': (
    50 : #f0faf0,
    100 : #daf2da,
    200 : #c1eac1,
    300 : #a8e1a8,
    400 : #96da95,
    500 : #83d482,
    600 : #7bcf7a,
    700 : #70c96f,
    800 : #66c365,
    900 : #53b952,
    A100 : #ffffff,
    A200 : #e7ffe7,
    A400 : #b5ffb4,
    A700 : #9cff9b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  ),
  'blue': (
    50 : #ebf8fd,
    100 : #cdedfa,
    200 : #ace1f6,
    300 : #8bd4f2,
    400 : #72cbf0,
    500 : #59c2ed,
    600 : #51bceb,
    700 : #48b4e8,
    800 : #3eace5,
    900 : #2e9fe0,
    A100 : #ffffff,
    A200 : #eff9ff,
    A400 : #bce5ff,
    A700 : #a2dbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  ),
  'teal': (
    50 : #e8f7f9,
    100 : #c6eaf0,
    200 : #a0dce6,
    300 : #7acedc,
    400 : #5ec4d5,
    500 : #41bacd,
    600 : #3bb2c8,
    700 : #32aac1,
    800 : #2aa2ba,
    900 : #1c93ae,
    A100 : #e5faff,
    A200 : #b3efff,
    A400 : #80e5ff,
    A700 : #66e0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  ),
  'cool-gray': (
    50: #FBFDFE,
    100: #F1F5F9,
    200: #E2E8F0,
    300: #CFD8E3,
    400: #97A6BA,
    500: #64748B,
    600: #475569,
    700: #050505,
    800: #27303F,
    900: #1A202E,
    contrast: (
      50: #1A202E,
    100: #1A202E,
    200: #1A202E,
    300: #1A202E,
    400: #1A202E,
    500: #1A202E,
    600: #FBFDFE,
    700: #FBFDFE,
    800: #FBFDFE,
    900: #FBFDFE,
    )
  ),
  'app-theme': (
    base:#fff,
    light: #f9fafc,
    primary:#41b9cd,
    accent:#1d1d1d,
    default: #43505c,
    secondary: #52565a,
    hint: #636f79,
    divider: #dcdcdc,
    disabled: #97A6BA,
    warn: #E91E63
  )
) !default;

 //font-sizes
$rem-base:10;

$font-h1:38;
$font-h2:34;
$font-h3:28;
$font-h4: 24;
$font-base:18;
$font-normal:16;
$font-sp:15;
$font-small:14;
$font-smaller:13;
$font-mini:11;
$font-tiny:12;
$font-micro:10;

$images: "/assets/images";
